@font-face {
  font-family: 'Intro Cond';
  src: local("Intro Cond Light Free"), local("IntroCondLightFree"), url("../assets/fonts/introcondensed/introcondlightfree.woff2") format("woff2"), url("../assets/fonts/introcondensed/introcondlightfree.woff") format("woff"), url("../assets/fonts/introcondensed/introcondlightfree.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Muller Narrow';
  src: url("../assets/fonts/mullernarrow/MullerNarrow-Light.otf"); }

body {
  background-color: #000;
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.header__title {
  font-family: "Intro Cond", "Muller Narrow", "Open Sans Condensed", sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px; }

.footer {
  background: rgba(0, 0, 0, 0.6);
  height: 100px;
  padding-top: 60px; }
  .footer--index-page {
    height: 60px;
    padding-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
  .footer__title {
    font-family: "Muller Narrow", "Intro Cond", "Open Sans Condensed", sans-serif;
    font-size: 14px;
    color: #fff; }

.navbar {
  font-family: "Intro Cond", "Muller Narrow", "Open Sans Condensed", sans-serif;
  font-size: 20px;
  text-transform: uppercase; }
  .navbar__item {
    margin-right: 10px; }
  .navbar__link {
    color: #ffebcd; }
    .navbar__link:hover {
      text-decoration: none;
      color: #fff; }
    .navbar__link--active {
      color: #fff; }

.biography {
  font-family: "Muller Narrow", "Intro Cond", "Open Sans Condensed", sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px; }
  .biography__paragraph {
    font-size: 16px; }
  .biography__link {
    color: #fff; }
  .biography__icon {
    height: 25px;
    width: 25px;
    margin-left: 2px; }
