@font-face {
    font-family: 'Intro Cond';
    src: local('Intro Cond Light Free'), local('IntroCondLightFree'), 
    url('../assets/fonts/introcondensed/introcondlightfree.woff2') format('woff2'), 
    url('../assets/fonts/introcondensed/introcondlightfree.woff') format('woff'), 
    url('../assets/fonts/introcondensed/introcondlightfree.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
	font-family:'Muller Narrow';
	src:url('../assets/fonts/mullernarrow/MullerNarrow-Light.otf');
}

/* font-family: 'Open Sans Condensed', sans-serif; */



