$page-background-color: #000;
$background-text-color: rgba(0,0,0, 0.6);
$text-color: #fff;
$navigation-text-color: #ffebcd;

$text-font: 'Muller Narrow', 'Intro Cond', 'Open Sans Condensed', sans-serif;
$title-font: 'Intro Cond', 'Muller Narrow', 'Open Sans Condensed', sans-serif;