.navbar{
	font-family:$title-font;
	font-size:20px;
	text-transform:uppercase;
	&__item{
		margin-right:10px;
	}
	&__link{
		color:$navigation-text-color;
		&:hover{
			text-decoration:none;
			color:$text-color;
		}
		&--active{
			color:$text-color;
		}
	}
}