.discography{
	background:$background-text-color;
	padding:100px;
	&__column{
		position:relative;
	}
	&__layer{
		font-family:$text-font;
		color:$text-color;
		font-size:26px;
		position:absolute;
		z-index:1;
		top:40%;
		text-align:center;
		width:100%;
		visibility:hidden;
	}
	&__album{
		margin-bottom:10%;
		border:1px solid #fff;
	}
}