.footer{
	background:$background-text-color;
	height:100px;
	&--index-page{
		height:60px;
		padding-top:20px;
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
	}
	padding-top:60px;
	&__title{
		font-family:$text-font;
		font-size:14px;
		color:$text-color;
	}
}

